@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-flip: flip 1s normal 0s infinite ease-in-out;
  --animate-gradient: animatedgradient 6s ease infinite alternate;
  
  @keyframes wiggle {
    
        0%,
        100% {
          transform: rotate(-3deg);
        }
    
        50% {
          transform: rotate(3deg);
        }
      }

    @keyframes flip {
      50% {
        transform: rotate3d(0, 1, 0, -180deg)
      }
    }

    @keyframes dash {
      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes animatedgradient {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }
}


/* .logo-path {
  stroke-dashoffset: 0;
} */

@layer utilities {
  .animate-dash {
    animation: dash 1s ease-in-out forwards;
  }
/* 
  .animate-dash-delayed {
    animation: dash 2s   ease-in-out forwards;
  } */

}